.side-menu-img{
  width: 100%;
  height: 25%;
  object-fit: cover;
}

.closeBtnContainer{
  position: absolute;
  top: 5px;
  right: 5px;
}

.closeSideMenuBtn{
  background-color: darkslategrey;
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.sidemenuContentContainer{
  padding: 3px;
}

#setTimeBtn{
  position: relative;
  height: 60px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: solid dimgrey 1px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  background-color: rgba(0,0,0,.04);
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  text-align: left;
  padding-left: .75em;
  color: dimgrey;
}

#setTimeBtn:hover{
  border-bottom: solid black 2px;
}

.settimeIcon{
  position: absolute;
  right: 20px;
  top: 18px;
}

.submitBookingBtn{
  position: absolute;
  bottom: 5px;
  width: 98%;

}

.mat-form-field{
  width: 100%;
}
