<img class="side-menu-img" src="{{image}}" alt="service image">
<div class="closeBtnContainer">
  <button class="closeSideMenuBtn" (click)="util.closeSidebar()"><mat-icon class="icon">close</mat-icon></button>
</div>

<div class="sidemenuContentContainer">
  <h5 class="card-title">{{ cateory}} <span class="badge badge-secondary">{{ price }}</span></h5>
  <small class="text-muted">{{ title }}</small>
  <p class="card-text">{{description}}</p>

  <p>{{ description }}</p>

  <div class="row">
    <div class="col-sm-5" id="datepick">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput id="dateTimeInput" [matDatepicker]="picker" (dateChange)="getDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-5" id="timepick">
      <button [ngxTimepicker]="timepicker"><mat-icon class="icon">close</mat-icon></button>
      <ngx-material-timepicker #timepicker (timeChanged)="getTime($event)"></ngx-material-timepicker>
    </div>
  </div>

</div>





